.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  .main{
    margin-left: 205px;

    &-collapse{
      margin-left: 80px;
      transition: margin 0.4s ease;
    }

    .content{
      padding: 10px;
    }
  }
}